@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    overflow: hidden;
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 146px;
    padding: 2rem 15% 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

span {
    color: var(--main-color)
}

.logo {
    font-size: 1.8em;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Poppins", sans-serif;
}

.logo:hover {
    transform: scale(1.1);
}

body {
    background-color: var(--bg-color);
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--main-color);
}

canvas {
    width: 100%;
    /* max-width: 1000px; */
    height: 600px;
    aspect-ratio: 2;
    margin: 0 auto;
}